/* For testing purposes*/

 /* .hair {
  fill: rgb(245, 255, 52);
} */

/*
.lips {
  fill: rgb(0, 245, 16);
}

.eyelids {
  fill:rgb(0, 21, 182)
}

.hearingaid-inner {
  fill: rgb(255, 0, 0);
}

.eyeglasses {
  fill: rgb(154, 1, 1);
}

.shirt {
  fill:rgb(255, 0, 183)
} */

.ringu-spin {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ringu-spin {
  animation: spin 2s linear infinite;
}
