/* Directly affect Colors For Testing Purposes*/

 /* .hair {
  fill: rgb(5, 59, 237);
}  */

/* .hair-paint {
  fill: rgb(255, 4, 159);
} */

/*
.lips {
  fill: rgb(0, 245, 16);
}

.eyelids {
  fill:rgb(0, 21, 182)
}

.hearingaid-inner {
  fill: rgb(255, 0, 0);
}

.eyeglasses {
  fill: rgb(154, 1, 1);
}

.shirt {
  fill:rgb(255, 0, 183)
} */

/* Ringu-Lela Spiral Spin */
.ringu-spin {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ringu-spin {
  animation: spin 2s linear infinite;
}

/* Freshly Showered Lela Shaking Stars */
@keyframes shake {
  0%, 100% {
    transform: translate(0, 0);
  }
  5%, 55% {
    transform: translate(-2px, 1px);
  }
  10%, 60% {
    transform: translate(2px, 1px);
  }
  15%, 65% {
    transform: translate(2px, -1px);
  }
  20%, 70% {
    transform: translate(-2px, -1px);
  }
  25%, 75% {
    transform: translate(-2px, 1px);
  }
  30%, 80% {
    transform: translate(2px, 1px);
  }
  35%, 85% {
    transform: translate(2px, -1px);
  }
  40%, 90% {
    transform: translate(-2px, -1px);
  }
  45%, 95% {
    transform: translate(-2px, 1px);
  }
  50% {
    transform: translate(2px, 1px);
  }
}

.stars {
  animation: shake 0.5s linear infinite;
}