/* For testing purposes*/

 .hair {
  fill: rgb(255, 245, 52);
}

/*
.lips {
  fill: rgb(0, 245, 16);
}

.eyelids {
  fill:rgb(0, 21, 182)
}

.hearingaid-inner {
  fill: rgb(255, 0, 0);
}

.eyeglasses {
  fill: rgb(154, 1, 1);
}

.shirt {
  fill:rgb(255, 0, 183)
} */
